.env
env/
download/
var/
pip-log.txt
pip-delete-this-directory.txt
*.log
db.sqlite3-journal
.ipyb_checkpoints
profile_default/
ipython_config.py
'.vscode/'
__pycache__

env
local_setting.py
db.sqlite3
'media/'
