<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-widht, initial-scale=1.0">
        <title>{{ page_title }}</title>
    </head>
    <body>
        <h1>{{ heading }}</h1>
        <p>{{ message}}</p>
        <table border="2">
            <tr>
                <th>ID</th>
                <th>name</th>
            </tr>
            {% for obj in objects_list %}
            <tr>
                <td> {{ obj.id }}</td>
                <td>{{ obj.name }}</td>
                <td><a href="{% url 'references:author-detail' obj.id %}">view</a></td>
            </tr>
            {% endfor %}
        </table>

    </body>
</html>


