{% extends "base.html" %}


{% block MAIN_CONTENT %} 
    <h1 class="mt-5"> Author #{{ object.id }} {{ object.name }} details: </h1>
      
    <ul>
        <li><b>Author name: </b>{{ object.name }}</li>
        <li><b>Description: </b>{{ object.description }}</li>
        {% if user.is_authenticated and perms.refs.delete_author%}
        <li><b>Update this Author: </b><a href="{% url 'references:author-update' object.id %}" class="btn btn-outline-primary"><i class="bi bi-pencil-fill"></i>{{ object.name }}</a></li>
        <li><b>Delete this Author: </b><a href="{% url 'references:author-delete' object.id %}" class="btn btn-outline-primary"><i class="bi bi-trash-fill"></i>{{ object.name }}</a></li>
        {% endif %}
    </ul>


    {% if object.series.all %}
        <h2><b>Series of book by this Author: </b></h2>
        {% for serie in object.series.all %}
            <ul>
                    <li> {{serie.name}}</li>
            </ul>
        {% endfor %}
    {% else %}
        <h3><b>No series</b></h3>
    {% endif %}
    {% if user.is_authenticated and perms.refs.add_serie%}
    <a href="{% url 'references:series-create' %}" class="btn btn-outline-primary"><i class="bi bi-align-middle"></i>add a series of books</a>
    {% endif %}

{% endblock MAIN_CONTENT %}



