{% extends "base.html" %}


{% block MAIN_CONTENT %} 
    <h1 class="mt-5"> Gener #{{ object.id }} {{ object.name }} details:  </h1>
      
    <ul>
        <li><b>Genre's name: </b>{{ object.name }}</li>
        <li><b>Description: </b>{{ object.description }}</li>
        <li><b>Update this genre: </b><a href="{% url 'references:genre-update' object.id %}" class="btn btn-outline-primary"><i class="bi bi-pencil-fill"></i>{{ object.name }}</a></li>
        <li><b>Delete this genre: </b><a href="{% url 'references:genre-delete' object.id %}" class="btn btn-outline-primary"><i class="bi bi-trash-fill"></i>{{ object.name }}</a></li>
    </ul> 
{% endblock MAIN_CONTENT %}

