{% extends "base.html" %}


{% block MAIN_CONTENT %} 
    <h1 class="mt-5">  Genre list </h1>
    <table border="2" class="table table-success table-striped">
        <tr>
            <th>ID</th>
            <th>Gener's name</th>
            <th colspan="3" style="text-align: left;">Actions</th>
        {% for obj in object_list %} 
        <tr>
            <td> #{{ obj.id }} </td>
            <td> {{ obj.name }} </td>
            <td><a href="{% url 'references:genre-detail' obj.id %}" class="btn btn-outline-primary"><i class="bi bi-eye-fill"></i>View</a></td>
            {% if user.is_authenticated and perms.refs.delete_genre%}
            <td><a href="{% url 'references:genre-update' obj.id %}" class="btn btn-outline-primary"><i class="bi bi-pencil-fill"></i></i>Update</a></td>
            <td><a href="{% url 'references:genre-delete' obj.id %}" class="btn btn-outline-primary"><i class="bi bi-trash-fill"></i>Delete</a></td>
            {% endif %}
        </tr>
        {% endfor %}
        {% if user.is_authenticated and perms.refs.add_genre %}
        <td colspan="2" style="text-align: center;">Добавить новый жанр</td>
        <td colspan="3" style="text-align: center;"><a href="{% url 'references:genre-create' %}" class="btn btn-outline-primary"><i class="bi bi-align-middle"></i></i>Create</a></td>
        {% endif %}
    </table>  
{% endblock MAIN_CONTENT %}

<!-- <table border="2" class="table table-success table-striped"></table> -->
<!-- <i class="bi bi-eye"></i>  -->