{% extends "base.html" %}


{% block MAIN_CONTENT %} 
    <h1 class="mt-5"> Publishing list </h1>
    <table border="2">
        <tr>
            <th>ID</th>
            <th>Publishing's name</th>
            <th>-----</th>
        {% for obj in object_list %} 
        <tr>
            <td> #{{ obj.id }} </td>
            <td> {{ obj.name }} </td>
            <td><a href="{% url 'references:publishing-detail' obj.id %}">view</a></td>
        </tr>
        {% endfor %}
    </table> 
{% endblock MAIN_CONTENT %}

