{% extends "base.html" %}


{% block MAIN_CONTENT %} 
    <h1 class="mt-5"> Publishing #{{ object.id }} {{ object.name }} details: </h1>
    <ul>
        <li><b>Publishing's name: </b>{{ object.name }}</li>
        <li><b>Description: </b>{{ object.description }}</li>
        <li><b>Update this Publishing: </b><a href="{% url 'references:publishing-update' object.id %}">{{ object.name }}</a></li>
        <li><b>Delete this Publishing: </b><a href="{% url 'references:publishing-delete' object.id %}">{{ object.name }}</a></li>
    </ul>  
{% endblock MAIN_CONTENT %}

