<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-widht, initial-scale=1.0">
        <title>{{ page_title }}</title>
    </head>
    <body>
        <h1>{{ heading }}</h1>
        <p>{{ message}}</p>
        <h1>Publishing #{{ object.id }} {{ object.name }} details: </h1>

        <ul>
            <li><b>Publishing's name: </b>{{ object.name }}</li>
            <li><b>Description: </b>{{ object.description }}</li>
        </ul>
    </body>
</html>