<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-widht, initial-scale=1.0">
        <title>{{ page_title }}</title>
    </head>
    <body>
        <h1>{{ heading }}</h1>
        <p>{{ message}}</p>
        <table border="2">
            <tr>
                <th>ID</th>
                <th>Book's name</th>
                <th>Book's number of seria</th>
                <th>Series name</th>
                <th>Author of seria</th>
                <th>-----</th>
            {% for obj in object_list %} 
            <tr>
                <td> #{{ obj.id }} </td>
                <td> {{ obj.book_name }} </td>
                <td> {{ obj.book_number }} </td>
                <td> {{ obj.series_name }} </td>
                <td> {{ obj.series_name.author }} </td>
                <td><a href="{% url 'references:seriesprivately-detail' obj.id %}">view</a></td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>

