<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-widht, initial-scale=1.0">
        <title>{{ page_title }}</title>
    </head>
    <body>
        <h1>{{ heading }}</h1>
        <p>{{ message}}</p>

        <h1>Seriesprivately #{{ object.id }} details: </h1>

        <ul>
            <li><b>Author of seria </b>{{ object.series_name.author }}</li>
            <li><b>Author id </b>{{ object.series_name.author.id }}</li>
            <ti><b>Author: </b><a href="{% url 'references:author-detail' object.series_name.author.pk %}">{{ object.series_name.author }}</a></li>
            <li><b>Series name </b>{{ object.series_name }}</li>
            <li><b>Series id </b>{{ object.series_name.pk }}</li>
            <ti><b>Series: </b><a href="{% url 'references:series-detail' object.series_name.pk %}">{{ object.series_name }}</a></li>
            <li><b>Book of seria: </b>{{ object.series_name.total_number }}</li>
            <li><b>Book's name </b>{{ object.book_name }}</li>
            <li><b>Book's number of seria </b>{{ object.book_number }}</li>
            <li><b>Description: </b>{{ object.description }}</li>
        </ul>
    </body>
</html>

