{% extends "base.html" %}


{% block MAIN_CONTENT %} 
    <h1 class="mt-5"> Serie #{{ object.id }} {{ object.name }} details: </h1>
    <ul>
        <li><b>Author name: </b>{{ object.author }}</li>
        <li><b>Author name: </b>{{ object.author.name }}</li>
        <ti><b>Author: </b><a href="{% url 'references:author-detail' object.author.id %}" class="btn btn-outline-primary"><i class="bi bi-eye-fill"></i>{{ object.author.name }}</a></li>
        <li><b>Book of seria: </b>{{ object.total_number }}</li>
        <li><b>Description: </b>{{ object.description }}</li>
        {% if user.is_authenticated and perms.refs.delete_serie%}
        <li><b>Update this seria: </b><a href="{% url 'references:series-update' object.id %}" class="btn btn-outline-primary"><i class="bi bi-pencil-fill"></i>{{ object.name }}</a></li>
        <li><b>Delete this seria: </b><a href="{% url 'references:series-delete' object.id %}" class="btn btn-outline-primary"><i class="bi bi-trash-fill"></i>{{ object.name }}</a></li>
        {% endif %}
    </ul>  
{% endblock MAIN_CONTENT %}



