{% extends "auth_base.html" %}
{% load crispy_forms_tags %}


{% block MAIN_CONTENT %} 
<h1>{{ error_message }}</h1>
    <h1 class="mt-5"> Login form </h1>
        <form action="" method="post">
            {% csrf_token %}
            <input type="text" name="username" value="{{ username }}"> <br>
            <input type="password" name="password"><br>
            <input type="hidden" name="next" value={{return_to}}>
            <button type="submit" class="btn btn-primary btn-lg"></i>Login!</button>
        
        </form>
{% endblock MAIN_CONTENT %}

<!-- {{ form | crispy }}
<button type="submit" class="btn btn-primary btn-lg"><i class="bi bi-envelope-fill"></i>Send message</button> -->