<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-widht, initial-scale=1.0">
        <title>{{ page_title }}</title>
    </head>
    <body>
        <h1>{{ heading }}</h1>
        <p>{{ message}}</p>
        <h1>Book #{{ object.id }} {{ object.title }} details: </h1>

        <ul>
            <li><b>Book title: </b>{{ object.title }}</li>
            <li><b>Author name: </b>{{ object.author }}</li>
            <li><b>Cover: </b>{{ object.cover }}</li> 
            <li><b>Update this Book: </b><a href="{% url 'goods:item-update' object.id %}">{{ object.title }}</a></li>
            <li><b>Delete this Book: </b><a href="{% url 'goods:item-delete' object.id %}">{{ object.title }}</a></li>  
        </ul>
        <p>Авторы:</p>
        <ul>
           {% for author in object.author.all %}
            <li> {{ author.name }}</li>
            {% empty %}
            <li> Автор не указан</li>
            {%endfor%}
        </ul>
        <b>Cover: </b>{{ object.cover.url }}
        <img src="{{ object.cover.url }}" alt="">
        

    </body>
</html>

