{% extends "base.html" %}


{% block MAIN_CONTENT %} 
    <h1 class="mt-5"> Are you sure, <br>
        that you want to delete <br>
       book #{{ object.id }} {{ object.title }}?</h1>
       <form method="post">
        {% csrf_token %}
        <p>Are you sure, that you want to delete Book #{{ object.id }} {{ object.title }}?</p>
        <button type="submit" class="btn btn-danger">Delete</button>
        <a href="{% url 'goods:item-detail' object.id %}" class="btn btn-outline-primary">Return to Book</a></li>
    </form>   

{% endblock MAIN_CONTENT %}


