{% extends "base.html" %}


{% block MAIN_CONTENT %} 
    <h1 class="mt-5"> Book #{{ object.id }} {{ object.title }} details: </h1>
       
    <ul>
        <li><b>Book title: </b>{{ object.title }}</li>
        <li><b>Author name: </b>{{ object.author }}</li>
        <li><b>Cover: </b>{{ object.cover }}</li> 
        <li><b>Update this Book: </b><a href="{% url 'goods:item-update' object.id %}" class="btn btn-outline-primary">{{ object.title }}</a></li>
        <li><b>Delete this Book: </b><a href="{% url 'goods:item-delete' object.id %}" class="btn btn-outline-primary">{{ object.title }}</a></li>  
    </ul>
    <p>Авторы:</p>
    <ul>
       {% for author in object.author.all %}
        <li> {{ author.name }}</li>
        {% empty %}
        <li> Автор не указан</li>
        {%endfor%}
    </ul>
    <b>Cover: </b>{{ object.cover.url }}
    <img src="{{ object.cover.url }}" alt="">
    
{% endblock MAIN_CONTENT %}




